@import './index.scss';

/* 투표 정렬 버튼*/
.vote_container {
  width: 70vw;
  margin: 0 auto;
}

.vote_btn_container {
  display: flex;
  margin: 30px;
}

button {
  border: 0;
  background-color: transparent;
  font-family: 'Pretendard';
  font-style: normal;
  font-size: 20px;
  color: $point-text-2;
  font-weight: $medium;

  &.select {
    color: $main-blue;
    font-weight: $bold;
  }
}

.new {
  margin-left: 4vw;
}

.famous {
  margin-left: 1vw;
}

/* 투표 카드 */
.vote_rows {
  margin-bottom: 100px;
}

.cards_row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.vote_card {
  border: 1px solid white;
  width: 15vw;
  background-color: $card-3;
  margin: 10px;
  border-radius: 15px;
}

.vote_header {
  width: 100%;
  position: relative;
}

.vote_image img {
  width: 15vw;
  height: 15vw;
  vertical-align: middle;
  border-radius: 15px 15px 0 0;
}

.vote_remain {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #b4b9f7;
  display: flexbox;
  padding: 10px;
  font-family: 'Pretendard';
  font-style: normal;
  font-size: 20px;
  border-radius: 30px;
  font-weight: $bold;
}

.vote_title {
  color: $blue-1;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $semi-bold;
  font-size: 16px;
  padding: 10px;
}

.vote_description {
  color: $text-2;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $regular;
  font-size: 14px;
  padding: 10px;
}

.vote_footer {
  background-color: $card-2;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0 0 15px 15px;
  align-items: center;
}

.vote_due {
  color: $main-blue;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $semi-bold;
  font-size: 14px;
}

.vote_number {
  color: $main-blue;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: $semi-bold;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}
