@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700');

$main-blue: #52588b;
$blue-1: #444873;
$blue-2: #5a6199;
$blue-3: #8089d9;
$blue-3-graph: #6d73ae;
$blue-4: #b4b9f7;
$point-text-1: #52588b;
$point-text-2: #6f7087;
$text-1: #242424;
$text-2: #8a8a8a;
$text-3: #bbbbbb;
$card-1: #e7e7e7;
$card-2: #f1f1f1;
$card-3: #f8f8f8;
$red: #ea5400;
$black: #191f28;
$light-2: #e9eaec;

@mixin title {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #000000;
}

@mixin sub-title {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}

@mixin contents {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

@mixin app_caption {
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.333px; /* 152.381% */
  letter-spacing: 0.667px;
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
